<<<<<<< HEAD
<%= render "shared/banner" %>
<div class="container">
  <h2>Tous nos articles de sport</h2>
  <%= render  "shared/sport_cards" %>
  <div class="card-category">
    <div class="cards">
      <% @articles.each do |a| %>
        <%= link_to article_path(a) do  %>
          <%= render  "shared/articles_cards", article: a %>
        <% end %>
      <% end %>
    </div>
  </div>
=======
<h1>Tous nos articles de sport</h1>
<%= render "shared/sport_cards" %>
<%#= render "sport/cards" %>
<div class="cards">
  <% @articles.each do |article| %>
  <%= link_to article_path(article) do  %>
    <%= render "shared/articles_cards", article: article %>
    <%#= render "shared/card", article: article %>
    <% end %>
  <% end %>
>>>>>>> origin
</div>

