<h1>Ajouter un nouvel article</h1>
<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <%= simple_form_for @article do |f| %>
    <%= f.input :name, label: "Nom de l'article" %>
    <%= f.input :sport, collection: SPORTS %>
    <%= f.input :description %>
    <%= f.input :price, label: "Prix / jour" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, label: "Créer" %>
  <% end %>
</div>
