<div class="container">
  <div class="identity" style="font-family: Josefin sans">
    <h1><strong>Mon profil</strong></h1>
    <h2><strong>Mon prénom :</strong> <%= @user.first_name  %></h2>
    <h2><strong>Mon nom de famille :</strong> <%= @user.last_name  %></h2>
    <h2><strong>Mon adresse postale :</strong> <%= @user.address  %></h2>
    <h2><strong>Mon email :</strong> <%= @user.email  %></h2>
    <h2><strong>Mon téléphone :</strong> <%= @user.phone_number  %></h2>
  </div>
  <div class="btn-edit-profile"><%= link_to "Modifier mes informations", edit_user_registration_path(@user) %></div>
</div>


