<div class="container">
  <%= render "shared/menu_dashboard" %>
  <div class="user-show-rentals mt-3">
    <h2 style="margin-top: 50px;"> Mes demande de réservation reçues</h2>
    <div class="card-category">
      <div class="cards">
        <% bookings_recus = @user.articles.map {|article| article.bookings.where(status: true)}.flatten %>
        <% bookings_recus.each do |reservation| %>
          <div>
          <p>Du <%= reservation.starting_date %> au <%= reservation.ending_date %></p>
          <%= render  "shared/articles_cards", article: reservation.article %>

          </div>
        <% end %>
      </div>
    </div>
    <h2> Mes demandes de réservation envoyées</h2>
    <div class="card-category">
      <div class="cards">
        <% @user.bookings.each do |reservation| %>
          <div>
            <p>Du <%= reservation.starting_date %> au <%= reservation.ending_date %></p>
            <%= render  "shared/articles_cards", article: reservation.article %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-show-commands">
    <h2>Mes articles à louer</h2>
    <div class="card-category">
      <div class="cards">
        <% @user.articles.each do |article| %>
          <%= render "shared/articles_cards", article: article %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-show-information"></div>
</div>
